* {
    margin: 0px;
    padding: 0px;

    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.share_btn {
    background-color: var(--box-color);
    border: var(--border-color) solid 1px;
    border-radius: 20px;

    height: 40px;
    width: 40px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 680px;
}

.img_profilepic {
    border: var(--border-color) solid 1px;
    border-radius: 50%;

    height: 128px;
    width: 128px;
}

.names_container {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 24px 0;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 18px
}

a {
    color: var(--font-color);
    font-size: 18px;
    text-decoration: none;
}

.link_box {
    align-items: center;

    background-color: var(--box-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    border: var(--border-color) solid 1px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;

    font-weight: bold;

    margin: 8px 0;
    padding: 16px;

    height: 32px;
    width: 100%;
}

.link_box:hover {
    border: 1px solid var(--hover-color);
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.link_icon,
.link_share_btn {
    align-items: center;

    border: var(--border-color) solid 1px;
    border-radius: 50%;

    display: flex;
    justify-content: center;

    height: 48px;
    width: 48px;
}

.link_share_btn:hover {
    border: 1px solid var(--hover-color);
}

.link_icon svg,
.link_share_btn svg {
    color: var(--font-color);
    height: 24px;
    width: 24px;
}